body{
    background-color: #45FEF6;
}

p{
    color: #E837E9;
    font-family: fantasy;
    font-size: 16pt;
        
}

div{
    color: #FE4E36;
    font-family: fantasy;
    font-size: 14pt;
}
    