/*
Katie Corcoran

PinkPhreak - #F81B7A
'roundTheClockOrange - #FE4E36
Twi Highlights (purple) - #E837E9

*/

@import url(http://fonts.googleapis.com/css?family=Anton);
@import url(http://fonts.googleapis.com/css?family=Kreon);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body{
    padding: 3%;
    background-image: url('../images/logo_x_pattern.png');
    background-attachment: fixed;
}

header{
    background-color: #dddddd;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px;
    font-style: oblique;
    color: #F81B7A;
    font-family: 'Anton', sans-serif;
}

.main h2, .sidebar h2{
    font-family: 'Lobster', cursive;
}

p, ul{
    font-size: 20px;
    font-family: 'Kreon', serif;
}

p{
    padding: 3%;
}

li{
    padding: 5%;
}

.sidebar li{
    font-family: 'Kreon', serif;
    text-decoration: none;
    color: #FE4E36;
}

.color1{
    background-color: #FE4E36;
}

.color2{
    background-color: #F81B7A;
}

.color3{
    background-color: #E837E9;
}
    
.colorsquare{
    width: 200px;
    height: 200px;
    display: inline-block;
}

.site-footer a{
    font-size: 20px;
    color: #E837E9;
    text-decoration: none;  
    padding: 13%;
}

.site-footer a:hover{
color: #FE4E36;
text-decoration: underline;    
}

footer{
    border: solid;
    display: inline-block;
    margin: 2%;
}

.main{
    float: left;
    width: 70%;
    border: solid;
    padding: 3%;
}

.sidebar{
    float: right;
    width: 25%;
    border: solid;
    padding: 3%;
}

.sidebar a{
    color: #F81B7A;
}

.sidebar a:hover{
    color: #E837E9;
}