/*
Katie Corcoran

PinkPhreak - #F81B7A
'roundTheClockOrange - #FE4E36
Twi Highlights (purple) - #E837E9

*/

a{
    color: #FE4E36;
}

h1{
    color: #FE4E36;
}

.color1{
    width: 200px;
    height: 200px;
    background-color: #FE4E36;
}

.color2{
    width: 200px;
    height: 200px;
    background-color: #F81B7A;
}

.color3{
    width: 200px;
    height: 200px;
    background-color: #E837E9;
}

h2{
    color: #E837E9;
{

